<a href="https://colab.research.google.com/github/Samuelregis/Mackenzie-teste/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
#Importação
df = read.csv("http://meusite.mackenzie.br/rogerio/data_load/insurance.csv")

# inicio da tabela = head 
# numero de linhas = nrow 
# quantidade de colunas = ncol
# nome das colunas = colnames
# tipo das variaveis = str
# quantidade de cada coluna = table(df$...)
# estatisticas = summary 
# média = (mean$df..)
# média de valor especifico = mean (df[ df$sex == 'female', ]$smoker )
# porcentagem de conjunto especifico = table (df[ df$sex == 'female', ]$smoker == "no") / nrow (df) 
head (df)
summary (df)

  age sex    bmi    children smoker region    charges
1 19  female 27.900 0        yes    southwest 16884.924
2 18  male   33.770 1        no     southeast  1725.552
3 28  male   33.000 3        no     southeast  4449.462
4 33  male   22.705 0        no     northwest 21984.471
5 32  male   28.880 0        no     northwest  3866.855
6 31  female 25.740 0        no     southeast  3756.622

      age            sex                 bmi           children
 Min.   :18.00   Length:1338        Min.   :15.96   Min.   :0.000
 1st Qu.:27.00   Class :character   1st Qu.:26.30   1st Qu.:0.000
 Median :39.00   Mode  :character   Median :30.40   Median :1.000
 Mean   :39.21                      Mean   :30.66   Mean   :1.095
 3rd Qu.:51.00                      3rd Qu.:34.69   3rd Qu.:2.000
 Max.   :64.00                      Max.   :53.13   Max.   :5.000
    smoker             region             charges
 Length:1338        Length:1338        Min.   : 1122
 Class :character   Class :character   1st Qu.: 4740
 Mode  :character   Mode  :character   Median : 9382
                                       Mean   :13270
                                       3rd Qu.:16640
                                       Max.   :63770

< table of extent 0 x 0 x 0 x 0 x 0 x 0 x 0 >